body{
    background: url("../imagenes/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Add a dark background color with a little bit see-through */ 
.navbar {
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity:0.9;
}

/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand { 
    color: #d5d5d5 !important;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
    color: #fff !important;
}

/* The active link */
.navbar-nav li.active a {
    color: #fff !important;
    background-color:#29292c !important;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
    border-color: transparent;
}


/*.container{
    margin: 100px;
    padding: 10px 120px;
    height: 100%;
    background-color: rgba(222, 215, 215, 0.4);
    overflow: auto;
}*/

.container{
    margin: 100px;
    padding: 10px 120px;
    height: 100%;
    overflow: auto;   
    background:  rgba(255, 255, 255, 0.8);
    border-radius: 10px; 
    box-shadow:15px 20px 0px rgba(0,0,0,0.1);
}
