{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title> {% block titulo %} {% endblock %} </title>
	<link rel="shortcut icon" type="image/x-icon" href="{% static "imagenes/fondoFIA.jpg" %}">
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="{% static "css/baseFIAofertas.css" %}"/>
	<link rel="stylesheet" href="{% static "css/edicionHistorial.css" %}"/>
	<style>
		@font-face{
			font-family: "Righteous-Regular";
			src: url("../fonts/Righteous-Regular.ttf") format("truetype");
		}

	</style>

</head>
<body>
{% if user.is_superuser %}
<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="/">FiaOfertas</a>
		    </div>
		    <div class="collapse navbar-collapse" id="myNavbar">
		      <ul class="nav navbar-nav navbar-right">
		        <li><a href="/logout">Salir</a></li>
		      </ul>
		    </div>
		</div>
	</nav>
	<br><br>
	<h1><strong>Es un super usuario pero no puede ingresar producto</strong> </h1>
{% else %}

{% if user.is_authenticated %}
	{% for vendedor in user.vendedor_set.all %}
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="/">FIAofertas</a>
		    </div>
		    <div class="collapse navbar-collapse" id="myNavbar">
		      <ul class="nav navbar-nav navbar-right">
		        <li><a href="/">productos disponibles</a></li>
		        <li><a href="/perfil">Perfil</a></li>
		        <li><a href="/misventas">mis ventas</a></li>
		        <li><a href="/nuevoProducto">nueva venta</a></li>
		        <li><a href="/login">Iniciar sesion</a></li>
		        <li><a href="/registrarse">Registrarse</a></li>
		        <li><a href="/logout">Salir</a></li>
		      </ul>
		    </div>
		</div>
	</nav>
   	{% endfor %}
{% else %}
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="/">FIAofertas</a>
		    </div>
		    <div class="collapse navbar-collapse" id="myNavbar">
		      <ul class="nav navbar-nav navbar-right">
		        <li><a href="/">productos disponibles</a></li>
		        <li><a href="/perfil">Perfil</a></li>
		        <li><a href="/login">Iniciar sesion</a></li>
		        <li><a href="/registrarse">Registrarse</a></li>
		      </ul>
		    </div>
		</div>
	</nav>
	<div>
		<p>Inicie sesion</p>
		<a href="/login">login</a>
	</div>
{% endif %}
	<section class="container">
	<p>Ver aqui todos tus productos: <a href="/misventas"> Mi historial </a> </p>
	<p>{{mensaje}},  {{saldo}} </p>
	<form action="" method="POST">
		{% csrf_token %}
		<label>buscar:</label>
		<input type="hidden" name="action" id="action" value="buscar">
		<input type="text" name="buscar" id="buscar">
		<input type="submit" name="btbuscar" id="btbuscar">
	</form>
		<h1>Productos a la venta-->#de ventas: {{i}} </h1>
		<div class="table-responsive container-table">
		{% if electronico %}
			<table class="table table-hover">
			    <thead>
			    <tr> <h2>Electronico</h2> </tr>
			     <tr>
			        <th>id</th>
			        <th>Venta ofertada</th>
			        <th>Fecha</th>
			        <th>precio</th>
			        <th>Opciones</th>
			      </tr>
			    </thead>
			    <tbody>
			    {% for pr in electronico %}
			    	<tr>
			        	<td> {{pr.id}} </td>
			        	<td> {{pr.nombre}} </td>
			        	<td> {{pr.fecha}} </td>
			        	<td> ${{pr.precio}} </td>
			        	<td>
			        		<a href="{% url 'venta:producto' pr.id %}">ver</a>
			        	</td>
			      	</tr>
			     {% endfor %}
			      </tbody>
			</table>
		{% endif %}
		</div>
		<div class="table-responsive container-table">
			<table class="table table-hover">
			{% if material %}
			    <thead>
			    <tr> <h2>Materiales</h2> </tr>
			     <tr>
			        <th>id</th>
			        <th>Venta ofertada</th>
			        <th>Fecha</th>
			        <th>precio</th>
			        <th>Opciones</th>
			      </tr>
			    </thead>
			    <tbody>
			    {% for pr in material %}
			    	<tr>
			        	<td> {{pr.id}} </td>
			        	<td> {{pr.nombre}} </td>
			        	<td> {{pr.fecha}} </td>
			        	<td> ${{pr.precio}} </td>
			        	<td>
			        		<a href="{% url 'venta:producto' pr.id %}">ver</a>
			        	</td>
			      	</tr>
			     {% endfor %}
			      </tbody>
			</table>
		{% endif %}
		</div>
		<div class="table-responsive container-table">
		{% if libros %}
			<table class="table table-hover">
			    <thead>
			    <tr> <h2>Libros</h2> </tr>
			     <tr>
			        <th>id</th>
			        <th>Venta ofertada</th>
			        <th>Fecha</th>
			        <th>precio</th>
			        <th>Opciones</th>
			      </tr>
			    </thead>
			    <tbody>
			    {% for pr in libros %}
			    	<tr>
			        	<td> {{pr.id}} </td>
			        	<td> {{pr.nombre}} </td>
			        	<td> {{pr.fecha}} </td>
			        	<td> ${{pr.precio}} </td>
			        	<td>
			        		<a href="{% url 'venta:producto' pr.id %}">ver</a>
			        	</td>
			      	</tr>
			     {% endfor %}
			      </tbody>
			</table>
		{% endif %}
		</div>
		<div class="table-responsive container-table">
		{% if otros %}
			<table class="table table-hover">
			    <thead>
			    <tr> <h2> Otros </h2> </tr>
			     <tr>
			        <th>id</th>
			        <th>Venta ofertada</th>
			        <th>Fecha</th>
			        <th>precio</th>
			        <th>Opciones</th>
			      </tr>
			    </thead>
			    <tbody>
			    {% for pr in otros %}
			    	<tr>
			        	<td> {{pr.id}} </td>
			        	<td> {{pr.nombre}} </td>
			        	<td> {{pr.fecha}} </td>
			        	<td> ${{pr.precio}} </td>
			        	<td>
			        		<a href="{% url 'venta:producto' pr.id %}">ver</a>
			        	</td>
			      	</tr>
			     {% endfor %}
			      </tbody>
			</table>
		{% endif %}
		</div>
	</section>
{% endif %}
</body>
</html>