<!DOCTYPE html>
<html>
<head>
	<title>FIAofertas: Historial de Ventas.</title>

	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<style>
		@import url("../cssfiles/baseFIAofertas.css");
		@import url("../cssfiles/edicionHistorial.css");

		@font-face{
			font-family: "Righteous-Regular";
			src: url("../fonts/Righteous-Regular.ttf") format("truetype");
		}

	</style>

</head>
<body>

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#">FIAofertas</a>
		    </div>
		    <div class="collapse navbar-collapse" id="myNavbar">
		      <ul class="nav navbar-nav navbar-right">
		        <li><a href="/">Historial de ventas</a></li>
		        <li><a href="/">Perfil</a></li>
		        <li><a href="/">Salir</a></li>
		      </ul>
		    </div>
		</div>
	</nav>

	<section class="container">
		<h1>Historial de Ventas.</h1>
		<div class="table-responsive container-table">
			<table class="table table-hover">
			    <thead>
			      <tr>
			        <th>#</th>
			        <th>Venta</th>
			        <th>Fecha</th>
			        <th>Opciones</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr>
			        <td>1</td>
			        <td>Venta #1</td>
			        <td>N/A</td>
			        <td>
			        	<a href="#"> <i class="glyphicon glyphicon-eye-open"></i></a>
			        	/
			        	<a href="#"> <i class="glyphicon glyphicon-remove"></i></a>
			        </td>
			      </tr>
			      <tr>
			        <td>2</td>
			        <td>Venta #2</td>
			        <td>N/A</td>
			        <td>
			        	<a href="#"> <i class="glyphicon glyphicon-eye-open"></i></a>
			        	/
			        	<a href="#"> <i class="glyphicon glyphicon-remove"></i></a>
			        </td>
			      </tr>			      
			      <tr>
			        <td>3</td>
			        <td>Venta #3</td>
			        <td>N/A</td>
			        <td>
			        	<a href="#"> <i class="glyphicon glyphicon-eye-open"></i></a>
			        	/
			        	<a href="#"> <i class="glyphicon glyphicon-remove"></i></a>
			        </td>
			      </tr>			    </tbody>
			</table>
		</div>

	</section>

</body>
</html>