{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>FIAofertas: Perfil de Usuario.</title>
	<link rel="shortcut icon" type="image/x-icon" href="{% static "imagenes/fondoFIA.jpg" %}">

		<meta charset="utf-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="{% static "css/baseFIAofertas.css" %}"/>
	<link rel="stylesheet" href="{% static "css/mensajes.css" %}"/>
	<style>
		@font-face{
			font-family: "Lobster-Regular";
			src: url("{% static "fonts/Lobster-Regular.ttf" %}") format("truetype");
		}

		@font-face{
			font-family: "Righteous-Regular";
			src: url("{% static 'fonts/Righteous-Regular.ttf'%}") format("truetype");
		}
	</style>
</head>
<body>

	{% if user.is_authenticated %}
		{% for vendedor in user.vendedor_set.all %}
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
			    <div class="navbar-header">
			      <a class="navbar-brand" href="/">FIAofertas</a>
			    </div>
			    <div class="collapse navbar-collapse" id="myNavbar">
			      <ul class="nav navbar-nav navbar-right">
			        <li><a href="/">Foro</a></li>
			        <li><a href="/perfil">Perfil</a></li>
			        <li><a href="/misventas">Mis Ventas</a></li>
			        <li><a href="/nuevoProducto">Nueva Venta</a></li>
			        <!--<li><a href="/login">Iniciar sesion</a></li>
			        <li><a href="/registrarse">Registrarse</a></li>-->
			        <li><a href="/logout">Salir</a></li>
			      </ul>
			    </div>
			</div>
		</nav>
	   	{% endfor %}
	{% else %}
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
			    <div class="navbar-header">
			      <a class="navbar-brand" href="/">FIAofertas</a>
			    </div>
			    <div class="collapse navbar-collapse" id="myNavbar">
			      <ul class="nav navbar-nav navbar-right">
			        <li><a href="/">Foro</a></li>
			        <li><a href="/perfil">Perfil</a></li>
			        <li><a href="/login">Iniciar sesión</a></li>
			        <li><a href="/registrarse">Registrarse</a></li>
			      </ul>
			    </div>
			</div>
		</nav>
	{% endif %}

	<section class="container">

   		<!-- Imagen -->
   		{% if user.is_authenticated %}
   			<h1>Mensajes:</h1>
   			<h3>¡Hola!: <b>{{user.username}}</b>, tus mensajes son: </h3>
   			<legend><i class="glyphicon glyphicon-envelope"></i> Mensajes</legend>
   			<div class="col-sm-3 col-md-3">
					<img src="{% static "imagenes/fiaOfertasLogo.png" %}" alt="" class="img-rounded img-responsive" height="250px" width="250px" />
			</div>
   			{% for message in user.mensaje_set.all %}
   			<fieldset>
   				<div class="col-sm-10 col-md-10 content">
				  		<p><b>{{message.emisor}}:</b> {{message.texto}} </p>
				</div>
				<hr />
			</fieldset>
   			{% endfor %}
   	</section>
	   	{% else %}
    	    <div class="col-sm-2 col-md-2">
        	    <img src="{% static "imagenes/user.png" %}" alt="" class="img-rounded img-responsive" />
        	</div>

        	<div class="col-sm-4 col-md-4 rejilla">

        	<form class="form-inline"> 
				<fieldset>
			  		<legend><i class="glyphicon glyphicon-user"></i> Datos personales:</legend>
			  		<div class="form-group">
				    	<label class="control-label col-sm-4" for="carnet">
				    	usuario:</label>
				    	<div class="col-sm-8">
				      		<input type="text" class="form-control" id="carnet" value=" anonimo " disabled="">
			   			</div> 					
			   		</div>
			</fieldset>
			</form>
			</div>
	{% endif %}
</body>
</html>