{% extends "Base/base.html" %}
{% load staticfiles %}
{% block Titulo %}
    FIAofertas: Ver perfil.
{% endblock Titulo %}

{% block META %}
	<link rel="shortcut icon" type="image/x-icon" href="{% static "imagenes/fondoFIA.jpg" %}">
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="{% static "css/baseFIAofertas.css" %}"/>
	<link rel="stylesheet" href="{% static "css/edicionHistorial.css" %}"/>
	<link rel="stylesheet" href="{% static "css/ver_perfil.css" %}"/>
{% endblock %}

{% block EstilosCSS %}
	<style>
		@font-face{
			font-family: "Lobster-Regular";
			src: url("{% static "fonts/Lobster-Regular.ttf" %}") format("truetype");
		}

		@font-face{
			font-family: "Righteous-Regular";
			src: url("{% static 'fonts/Righteous-Regular.ttf'%}") format("truetype");
		}
	</style>
{% endblock EstilosCSS %}


{% block Contenido %}
	<section class="container">
	{% for us in perfil.vendedor_set.all %}
		<div>
		<h4>{{valor}} </h4>
		<h1> Hola soy: {{us.nombre}}</h1>
		<br />
		<div class="col-sm-3 col-md-3">
   			{% if us.image %}
   			<img src="{{us.image.url}}" alt="no se puede mostrar imagen" class="img-rounded img-responsive image" width="300px" height="300px" />
   			{% else %}
   			<img src="{% static "imagenes/user.png" %}" alt="no se puede mostrar imagen" class="img-rounded img-responsive image" width="300px" height="300px" />
   			{% endif %}
   		</div>
		<div class="col-sm-9 col-md-9 text-center">
		<fieldset>
			<legend><i class="glyphicon glyphicon-user"></i> Datos personales:</legend>
				<div class="form-group">
					<label class="control-label col-sm-4" for="carnet">Carnet:</label>
					<div class="col-sm-8">
					    <input type="text" class="form-control" id="carnet" value=" {{us.carnet}} " disabled="">
				   	</div>
	 			</div>
				<div class="form-group">
					<label class="control-label col-sm-4" for="nombre">Nombre:</label>
					<div class="col-sm-8">
					    <input type="text" class="form-control" id="nombre" value=" {{us.nombre}} " disabled="">
				   	</div>
	 			</div>
				<div class="form-group">
					<label class="control-label col-sm-4" for="apellido">Apellido:</label>
					<div class="col-sm-8">
					    <input type="text" class="form-control" id="apellido" value=" {{us.apellido}} " disabled="">
				   	</div>
	 			</div>				
				<div class="form-group">
					<label class="control-label col-sm-4" for="telefono">Telefóno:</label>
					<div class="col-sm-8">
					    <input type="text" class="form-control" id="telefono" value=" {{us.telefono}} " disabled="">
				   	</div>
	 			</div>
	 			<div class="form-group">
					<label class="control-label col-sm-4" for="correo">Correo electrónico:</label>
					<div class="col-sm-8">
					    <input type="text" class="form-control" id="correo" value=" {{us.email}} " disabled="">
				   	</div>
	 			</div>
		</fieldset>
		</div>
		<br />
	{% endfor %}
	{% if usuario.is_authenticated %}
		<div class="col-sm-12 col-md-12">
		<fieldset>
			<form class="form-inline" method="POST" action="{% url 'venta:message' perfil.id %}">
			{% csrf_token %}
			<legend><i class="glyphicon glyphicon-envelope"></i> Enviar mensaje:</legend>
					    <label for="imagen_descargable">Emisor: {{usuario.username}} </label>
					    <input type="text" name="emisor" id="emisor" value=" {{usuario.username}} " hidden="">
					    <p>
					    <div class="form-group">	
					    	<label class="control-label col-sm-6">Mensaje:</label>
							<div class="col-sm-6">
					    		<textarea class="form-control" id="coment" name="coment" required="required"></textarea>
					    	</div>
					    </div>
					   	</p>
					  	<br>
	 				  	<input type="submit" class="btn" id="guardar" name="submit" value="Enviar"><br />
			</form>
		</fieldset>
		<br />
		</div>

		<div class="col-sm-12 col-md-12">
		<fieldset><form class="form-inline" method="POST" action="">
			{% csrf_token %}
			<legend><i class="glyphicon glyphicon-envelope"></i> Reportar usuario:</legend>
					<input type="hidden" name="action" id="action" value="reportar">
					    <label for="imagen_descargable">Emisor: {{usuario.username}} </label>
					    <input type="text" name="emisor" id="emisor" value=" {{usuario.username}} " hidden="">
					    <p>
					    <div class="form-group">	
					    	<label class="control-label col-sm-6">Porque lo desea reportar:</label>
							<div class="col-sm-6">
					    		<textarea class="form-control" id="dato" name="dato" required="required"></textarea>
					    	</div>
					    </div>
					   	</p>
					  	<br>
	 				  	<input type="submit" class="btn" id="guardar" name="submit" value="Enviar"><br />
			</form>
			</fieldset>
			<br />
		</div>



		<div class="col-sm-12 col-md-12">
			{% for re in reportes %}
				<label># de reportes:  <input type="text" disabled="true" value="{{re.numeroReport}}" size="3px"> </label>
			{% endfor %}
		<br />
		</div>
		
		

	{% else %}
		<label>El usuario debe iniciar sesión para enviar mensajes.</label>
	</section>
	{% endif %}
{% endblock Contenido %}